absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
aistudio-sdk==0.2.3
annotated-doc==0.0.3
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
apache-tvm-ffi==0.1.0b15
astor==0.8.1
async-timeout==5.0.1
attrs==25.4.0
babel==2.17.0
bce-python-sdk==0.9.46
blinker==1.9.0
blobfile==3.1.0
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.2
cuda-bindings==13.0.3
cuda-pathfinder==1.3.1
cuda-python==13.0.3
cycler==0.12.1
datasets==3.6.0
decorator==5.2.1
dill==0.3.4
exceptiongroup==1.3.0
fast_dataindex==0.1.2
fastapi==0.120.0
flash_attn==2.8.3
flashinfer-python==0.2.4
Flask==3.1.2
flask-babel==4.0.0
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.3.0
future==1.0.0
fuzzywuzzy==0.18.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna==3.11
itsdangerous==2.2.0
jieba==0.42.1
joblib==1.5.2
jsonlines==4.0.0
kiwisolver==1.4.9
loguru==0.7.3
lxml==6.0.2
markdown-it-py==4.0.0
matplotlib==3.10.7
mdurl==0.1.2
ml_dtypes==0.5.3
modelscope==1.31.0
multidict==6.7.0
multiprocess==0.70.12.2
ninja==1.13.0
nltk==3.9.2
numpy==1.26.4
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cccl-cu12==12.6.77
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cudnn-frontend==1.15.0
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-cutlass-dsl==4.2.1
nvidia-ml-py==13.580.82
nvidia-nccl-cu12==2.25.1
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.6.77
nvitop==1.5.3
omegaconf==2.3.0
onnx==1.19.1
onnxoptimizer==0.3.13
opt-einsum==3.3.0
packaging==25.0
paddle2onnx==2.0.1
paddleformers==0.3.2
paddlefsl==1.1.0
paddlenlp==2.8.1
paddlepaddle-gpu==3.2.0
pandas==2.3.3
pillow==12.0.0
polygraphy==0.49.26
portalocker==3.2.0
prettytable==3.16.0
propcache==0.4.1
protobuf==6.33.0
psutil==7.1.2
pyarrow==22.0.0
pybind11 
pycountry==24.6.1
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.12.3
pydantic_core==2.41.4
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
qtorch==0.3.0
rarfile==4.2
regex==2025.10.23
requests==2.32.5
responses==0.18.0
rich==14.2.0
rouge==1.0.1
rouge_score==0.1.2
sacrebleu==2.5.1
safetensors==0.6.2
sageattention==1.0.6
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
sentencepiece==0.2.1
seqeval==1.2.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sqlitedict==2.1.0
starlette==0.48.0
tabulate==0.9.0
termcolor==3.2.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.21.4
tool_helpers==0.1.2
torch
tqdm==4.67.1
transformers==4.55.4
triton
typer==0.20.0
typing-inspection==0.4.2
typing_extensions
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
visualdl==2.5.3
wcwidth==0.2.14
Werkzeug==3.1.3
xxhash==3.6.0
yarl==1.22.0
